<%= link_to new_user_path do %>
<img src=<%= asset_path "listit-home-page-gfx.jpg" %> alt="easy lists and SMS reminders">
<% end %>
<div id="home-link"><%= link_to "Register to get started!", new_user_path %></div>