<ul class="nav">
  <li>
    <%= link_to "Listit!", root_path, :class => 'brand' %>
  </li>
 
   <div class='nav_item'>
    <%= link_to 'New Post', root_path, class: 'btn btn-success btn-small' %>
  </div>

</ul>
